@import "bootstrap-sprockets";
@import "bootstrap";

.bounty-hotel-listing{
	h3{
		font-size: 1.3em;
	}
	.hotel-list-item{
		margin: 1em 0;
		padding: 1em;
		border: 1px solid #ccc;
		border-radius: 3px;

		&:hover{
			background-color: rgb(232,240,251);
		}

		h4{
			margin-bottom: 3px;
			margin-top: 3px;
			a{
				font-size: 20px;
				color: #07c;

				&:hover{
					color: gold;
				}
			}
		}
		.city{
			a{
				color: #07c;
				text-decoration: underline;
				font-size: 13px;
				font-weight: bold;
			}
		}
		.intro{
			font-size: .9em;
			margin: 10px 0;
		}
		.credit-card-reservation{
				font-size: 13px;
				font-weight: bold;
				.cr-true{
					color: brown;
				}
				.cr-false{
					color: green
				}
		}

		.extras{
			margin-top: 10px;
			font-size: 13px;

			span{
				display: inline-block;
				margin-right: 2em;
				border-bottom: 1px dotted #07c;
			}
		}
		.link_btn{
			text-align: center;
			a{
			  background-color: #07c;
		    color: #fff;
		    display: inline-block;
		    font-weight: bold;
		    border: 2px solid #fff;
		    box-shadow: 0 0 3px #aaa;
		    padding: .7em 1em;
		    margin-top: 2em;

		    &:hover{
		    	text-decoration: none;
		    	background-color: darken(#07c, 20)
		    }
			}
		}
	}
}

.search-control{
	margin-top: 2em;
	margin-bottom: 2em;

	.search-box{
		input[type=text]{
			display: inline-block;
			width: 70%;
			padding: .5em 1em; 
			outline: none;
			border: 1px solid #07c;
			position: relative;
			left: 5px;
		}

		input[type=submit]{
			padding: .5em 1em;
			background-color: #07c;
			color: #fff;
		}

	}
}